body{
   margin:5em;
	color:white;
	background: {
      color:pink;
      /*image:url("../../imgs/grid.png");*/
   }
	font-color:white;
   font-family: arial;
}

header { 
	nav {
      ul {
         list-style-type: none;
		} 
	}
}

ul{
   font:{
      color:red;
      weight:bold;
      size:3em;
   }

}
/*
div {
   background: {
      color: transparent;
      image: url("bg.png");
      repeat: no-repeat;
      attachment: fixed;
      position: top left;
   } 
}
*/

#sketch{
   float:left;
}

#vid{
   float:right;
   border:1px dashed white;
   padding:5px;
   outline:none;
}

canvas{
   border:1px dashed white;
   padding:5px;
}
button{
   border:none;
   color:gray;
   outline:none;
   
}
button:hover{
   -webkit-transition: all 0.2s linear; 
   -moz-transition: all 0.2s linear;
   transition: all 0.2s linear;
   color:white;
   background-color:pink;
   border:none;
}
